.thank-you-container {
    padding: 20px;
    background-color: #3e3e3e;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 145px;
    padding-bottom: 155px;

}