.add-product-form-container{
    padding: 20px;
    background-color: #3e3e3e;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    #add-product-form{
        display: flex;
        flex-direction: column;
        width: 300px;
        // margin: 0 auto;
        label{
            display: flex;
            flex-direction: column;
        }
        input, select {
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
}