.admin-order-form-container{
    padding: 20px;
    background-color: #3e3e3e;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    #admin-order-form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
        // margin: 0 auto;
        h2{
            margin-bottom: 15px;
        }
        label{
        display: flex;
        flex-direction: column;
        }
        input, select{
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
}