
.product-card-container{
    display: flex;
    flex-direction: row;
    .product-card {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 250px;
        margin: 10px;
    
        .product-image {
            width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    
        .product-name {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            color: #000000;
        }
    
        .product-price {
            font-size: 16px;
            color: #000000;
            margin-bottom: 10px;
        }
    
        .add-to-cart-button {
            padding: 10px 15px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
    
            &:hover {
                background-color: #218838;
            }
        }
    }
}
